[user]
	name = Niklas Schmitt
	email = [...]
[alias]
        st = status
        co = checkout
        di = diff --color
        diss = diff --staged
[push]
        default = simple
[core]
        pager = 
        editor = vim

